

/* ========= Base ========= */

body {
  font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Titillium Web', sans-serif;
}

.wrapper {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(../img/background_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.top-bar {
  height: 70px;
}

.text-blue {
  color: #3992cf;
}

/* ==== Nav ==== */

nav {
  padding-left: 35px;
  padding-right: 35px;
}

.logo {
  height: 43px;
  display: inline-block;
  margin: 14px 11px;
}

.logo#logo-rackspace img {
  height: 42px;
  padding-right: 26px;
  border-right: 2px solid #3992cf;
}

.logo#logo-emc img {
  height: 34px;
  margin-left: -4px;
}

#social-bar img{
  margin: 20px 0px;
  height: 30px;
}

#social-bar > li > a {
  height: 70px;
}

/* ==== Landing ==== */

.tagline {
  position: absolute;
  text-align: center;
  left: calc(50% - 100px);
  font-family: 'titillium web', Arial;
  font-size: 25px;
  color: white;
  font-weight: 600;
  padding: 14px;
}

.headline-text {
  position: relative;
  top: 58vh;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.headline-text h1 {
  font-size: 2.5rem;
  color: #3992cf;
}

.headline-text p {
  font-family: 'Titillium Web', Arial;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.headline-text a {
  width: 200px;
  border-radius: 5px;
  background-color: #5aaa28;
  font-family: 'Titillium Web', Arial;
}

/* ==== Footer ==== */

footer {
  position: fixed;
  bottom: 10px;
  left: calc(50% - 160px);
}

footer p {
  display: inline-block;
  font-size: 0.8rem;
  text-align: center;
  width: 100px;
  margin: 0 auto;
}




/* ========= Modules ========= */
/* ========= States ========= */
