

/* ========= Base ========= */

body {
  font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  font-weight: 600;
  color: #005ab0;
  font-size: 1.4rem;
  margin-top: 35px;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-size: 0.95rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}



.top-bar {
  height: 70px;
}

.text-blue {
  color: #3992cf;
}

.underline {
  text-decoration: underline;
}



/* ==== Nav ==== */

nav {
  padding-left: 35px;
  padding-right: 35px;
}

.logo {
  height: 43px;
  display: inline-block;
  margin: 14px 11px;
}

.logo#logo-rackspace img {
  height: 42px;
  padding-right: 26px;
  border-right: 2px solid #3992cf;
}

.logo#logo-emc img {
  height: 34px;
  margin-left: -4px;
}

#social-bar img{
  margin: 22px 0px;
  height: 25px;
}

#social-bar > li > a {
  height: 70px;
  background-color: #3992cf;
}

#social-bar > li > a:hover {
  background-color: #3ea0e3;
}

#social-bar > li:nth-child(1) > a {
  background-color: #333333;
}


/* ==== Banners ==== */

body#landing-a{
  background-image: url(../img/background_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -7px;
}

#landing-b .banner {
  background-image: url(../img/background_2.png);
  background-size: cover;
}

#landing-b .banner h1 {
  margin: 85px 10px 10px 0;
}

#landing-b .banner p {
  margin-bottom: 85px;
  font-family: 'titillium web', Arial;
  font-weight: 600;
  font-size: 1rem;
}

#landing-blank {
  background-image: url(../img/background_blank.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: -7px;
}

/* ==== Landing A ==== */


.tagline {
  position: absolute;
  text-align: center;
  left: calc(50% - 100px);
  font-family: 'titillium web', Arial;
  font-size: 25px;
  color: white;
  font-weight: 600;
  padding: 14px;
}

.headline-text {
  text-align: center;
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 59vh;
}

.headline-text h1 {
  font-size: 2.5rem;
  color: #3992cf;
}

.headline-text p {
  font-family: 'Titillium Web', Arial;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.headline-text a.button {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 5px;
  background-color: #5aaa28;
  font-family: 'Titillium Web', Arial;
}



/* ==== Landing B ==== */

.content-section > div:first-child {
  padding: 30px 20px 30px 15px;
}

/* ==== Landing blank ==== */




/* ==== Form ==== */

#form-aside {
  background-color: #005ab0;
}

#form-aside h3,
#form-aside p {
  color: white;
}

#form-aside > h3 {
  margin-top: 35px;
  padding: 30px 10px 30px 10px;
}


#form-aside form label {
  color: white;
  font-family: 'Titillium Web', Arial;
  line-height: 1.4;
}

#form-aside form input {
  height: 2.2rem;
}

#form-aside span {
  color: white;
}

form {
  padding: 0 15px 20px 12px;
}

#form-aside span.boilerplate {
  display: block;
  font-size: 0.7rem;
  padding: 0 15px 40px 12px;
}

#form-aside a.button {
  display: block;
  width: 200px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #5aaa28;
  font-family: 'Titillium Web', Arial;
  padding: 15px;
  margin-top: 20px;
}



/* ==== Footer ==== */

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 30px;
}

.footer p {
  margin: 0 auto;
  display: inline-block;
  font-size: 0.8rem;
  text-align: center;
  width: 100px;
}

.footer a {
  color: #1a1a1a;
  text-decoration: none;
}

/* ========= Modules ========= */

.progress-bar {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 35px;
  background-color: #333333;
}

.progress-bar p{
  color: white;
  text-align: center;
}

.progress-bar a {
  padding: 8px 12px;
  border-radius: 2px;
  margin-right: 2px;
}

.progress-bar .arrow-bar {
  padding: 12px 0px;
}




/* ========= Modules ========= */
/* ========= States ========= */
